<div class="head container-fluid">
    <!-- control bar stars here -->
    <div class="row">
        <div class="col-12">
        
        <h2>
            <a href="./calendar-view-by-month/{{ originSlug }}">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                    <path id="ic_arrow_back_24px" d="M20,11H7.83l5.59-5.59L12,4,4,12l8,8,1.41-1.41L7.83,13H20Z" transform="translate(-4 -4)"></path>
                </svg>
                <span id="year"> {{ month }}</span>
            </a>
            <span id="add-event">
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14">
                    <path id="ic_add_24px" d="M19,13H13v6H11V13H5V11h6V5h2v6h6Z" transform="translate(-5 -5)"></path>
                </svg>
            </span>
        </h2>
        </div>
    </div>
    <div class="row text-center">
            <div class="col day-single-letter">S</div>
            <div class="col day-single-letter">M</div>
            <div class="col day-single-letter">T</div>
            <div class="col day-single-letter">W</div>
            <div class="col day-single-letter">T</div>
            <div class="col day-single-letter">F</div>
            <div class="col day-single-letter">S</div>
    </div>
    <div class="row text-center">
            <div style="color:red;" class="col day-single-letter">30</div>
            <div class="col day-single-letter">1</div>
            <div class="col day-single-letter">2</div>
            <div class="col day-single-letter">3</div>
            <div class="col day-single-letter">4</div>
            <div class="col day-single-letter">5</div>
            <div class="col day-single-letter">6</div>
    </div>
    <div class="row text-center">
        <div class="col day-single-letter">Sunday June 30 2019</div>
    </div>
    <div class="row">
        <div class="col-6"></div>
        <div class="col-6"></div>
    </div>
  </div>    

  <div id="event-hours" class="container-fluid">
    <!-- control bar stars here -->
    <div *ngFor="let hour of hours" class="row">
        <div class="col">
            <div class="time"><span>{{ hour }} </span></div>
        </div>
    </div>
    <br>
</div>

<!-- footer-->
<div class="container-fluid">
    <div class="row">
      <div id="today" class="head col text-center">Today</div>
    </div>
</div>
      
      